// font-size
$font-color: #333;
// base color
$color-primary: #66BBBF;
// 渐变
$color-primary-gradient: linear-gradient(134deg, #0BBFD5 0%, #6DD7B2 100%);
// btn
// shadow
$base-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);