.page {
  display: flex;
  padding-top: 30px;
}
// 左侧
.sider {
  flex-shrink: 0;
  width: 270px;
  margin-right: 30px;
  &-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  &-item {
    cursor: pointer;
    padding-left: 30px;
    padding-right: 20px;
    background-color: #fff;
    &-wrapper {
      display: flex;
      padding-top: 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #eee;
    }
    &:last-child{
      .sider-item-wrapper {
        border-bottom: 0;
      }
    }
    &-asstes {
      margin-right: 24px;
      .img {
        width: 50px;
        height: 50px;
      }
    }
    &-title{
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 6px;
    }
    &-desc {
      font-size: 14px;
    }
  }
  &-item-active{
    position: relative;
    background-color: #FAFBFD;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 8px;
      background-image: linear-gradient(-134deg, #0BBFD5 0%, #6DD7B2 100%);
    }
  }
}
// 主要内容
.content {
  position: relative;
  flex:1;
  width: 100%;
  &-header {
    background-color: #fff;
    height: 173px;
    display: flex;
    width: 100%;
    align-items: center;

    margin-bottom: 20px;
    &-item {
      flex:1;
      padding-top: 45px;
      padding-bottom: 56px;
      &-warpper {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid #ccc;
      }
      &:last-child{
        .content-header-item-warpper {
          border-right: 0;
        }
      }
      &-title {
        font-size: 16px;
        color: #999999;
        line-height: 22px;
        margin-bottom: 22px;
        font-weight: normal;
      }
      &-content {
        font-size: 22px;
        line-height: 30px;
      }
    }
  }
  &-main {
    background-color: #fff;
    margin-bottom: 20px;
  }
  .assets-tab {
    /deep/ .tab-bar {
      box-shadow: none;
    }
  }
  &-recharge {
    padding: 56px 70px 42px 50px;
    min-height: 248px;
    display: flex;
    &-left {
      flex:1;
      margin-right: 40px;
      .address {
        margin-bottom: 22px;
        font-size: 16px;
        line-height: 22px;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      }
      .address-desc{
        width: 74px;
        flex-shrink: 0;
      }
      .address-link {
        font-size: 20px;
        color: #2EA2F8;
        line-height: 28px;
        display: inline-block;
        margin-left: 5px;
      }
      .tip {
        font-size: 14px;
        color: #666666;
        line-height: 20px;
      }
    }
    &-right {
      width: 150px;
      height: 150px;
      .qrCode {
        canvas {
          width: 150px;
          height: 150px;
        }

      }
    }
  }
  &-withdraw {
    &-no-verify{
      height: 352px - 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      line-height: 22px;
      .text {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 22px;
      }
      .button {
        // width: 130px;
      }
    }
    &-verify {
      height: 100%;
      padding: 34px 63px 40px 73px;
      .tip {
        font-size: 14px;
        color: #666666;
        line-height: 20px;
        margin-bottom: 67px;
      }
      .form {
        // margin: 0 auto;
        // width: 60px + 20px + 452px;
        // padding-left: 136px;
        // padding-right: 40px;
        font-size: 14px;
      }
      .form-item {
        font-size: 14px;
      }
      .input {
        width: 100%;
      }
    }
  }
  &-history {
    &-table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      &-head {
        background-color: #F4F6F9;
        &-tr {
          height: 54px;
        }
        &-th{
          font-weight: normal;
          font-size: 16px;
        }
      }
      &-body {
        background-color: #fff;
        &-tr {
          height: 80px;
          text-align: center;
          border-bottom: 1px solid #f1f1f1;
        }
        &-td{
          font-size: 14px;
        }
      }
    }
  }
}

.asset {
  &-model {
    padding: 44px 30px 54px;
    &-title {
      font-size: 24px;
      color: #666666;
      line-height: 28px;
      font-weight: normal;
      margin-bottom: 10px;
    }
    &-content {
      font-size: 16px;
      color: #666666;
      line-height: 28px;
      margin-bottom: 28px;
    }
    &-warn {
      font-size: 16px;
      color: #ED1C24;
      line-height: 20px;
      margin-bottom: 37px;
    }
  }
}
.asset-model-mail {
  padding: 64px 94px 52px;
  text-align: center;
  &-title {
    font-size: 24px;
    color: #666666;
    line-height: 32px;
    margin-bottom: 26px;
  }
  &-desc {
    font-size: 16px;
    color: #666666;
    line-height: 21px;
    margin-bottom: 20px;
  }
  &-btn {
    display: inline-block;
    font-size: 16px;
    color: #00A6AE;
    margin-bottom: 66px;
  }
}
.submit {
  margin-top: 50px;
}
.submit-button {
  width: 292px;
}
.submit-button-type-2 {
  width: 386px;
}


// withdraw
.withdraw {
  & /deep/ .ivu-form-item-label {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  &-form {
    margin-bottom: 0;
    &-number {
      margin-bottom: 40px;
    }
  }
  &-address {
    & /deep/ .withdraw-address-select {
      // margin-bottom: 0;
    }
    // margin-bottom: 33px - 29px;
    &-select {
      max-width: 644px;
      &-text {
        display: inline-block;
        max-width: 644px - 12px - 14px - 34px;
        color: #333;
      }
      &-trash {
        float: right;
        color: #ccc;
        &:hover {
          color: #333;
        }
      }
      margin-bottom: 15px;
    }
    &-add {
      // margin-top: 15px;
      margin-bottom: 33px;
      display: flex;
      justify-content: space-between;
      .add-label {
        width: 133px;
      }
      .add-address {
        width: 501px;
      }
    }
    & /deep/ .ivu-select-item {
      padding: 9px 14px 9px 34px;
      &:hover {
        background-color: #eee;
      }
    }
    .ivu-select-item-selected {
      background-color: #eee;
    }

  }
  &-number {
    display: flex;
    justify-content: space-between;
    &-input {
      width: 514px;
    }
    &-btn {
      padding-left: 0;
      padding-right: 0;
      width: 120px;
    }
  }
}